atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
idna==3.3
iniconfig==1.1.1
oauthlib==3.2.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pymysql==1.0.2
pyparsing==3.0.7
pytest==6.2.5
pytest-html==3.1.1
pytest-metadata==2.0.1
requests==2.26.0
requests-oauthlib==1.3.0
toml==0.10.2
urllib3==1.26.9
woocommerce==3.0.0
-e git+https://github.com/yiliulouis/Pytest-API.git@938b9a1eb86f3edc650cbcb35fa4ab0df8676d3f#egg=WooCommerceTesting
